name: Daily News Bot

on:
  schedule:
    - cron: '0 22 * * *'  # UTC 기준 (한국 오전 7시 = 22시 UTC)
  workflow_dispatch:

jobs:
  run-bot:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.11'

      - name: Install dependencies
        run: pip install -r requirements.txt

      - name: Run bot
        env:
          NEWS_API_KEY: ${{ 828a95f6893b45ce9495de12fa474cfa }}
          DISCORD_WEBHOOK: ${{ [https://discord.com/api/webhooks/1475445548780752926/JGFMnhUuhnlRsRf1Qel8rNZ0likSwrrQNE0mV1maBouBNuX277KUuuvvh6N-EMMZHmjy](https://discord.com/api/webhooks/1475445548780752926/JGFMnhUuhnlRsRf1Qel8rNZ0likSwrrQNE0mV1maBouBNuX277KUuuvvh6N-EMMZHmjy) }}
        run: python main.py
